# Configuración local de base de datos
DB_URL=jdbc:postgresql://localhost:5432/portal_turismo
DB_USERNAME=postgres
DB_PASSWORD=tu_password_aqui

# Configuración de Almacenamiento (local o cloudinary)
STORAGE_PROVIDER=local
STORAGE_LOCAL_DIR=uploads
STORAGE_LOCAL_BASE_URL=http://localhost:8080

# Cloudinary (Requerido cuando STORAGE_PROVIDER=cloudinary)
# Opción 1: Cadena de conexión completa
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
# Opción 2: Parámetros individuales
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

